<h2>Welcome to CSE Motors!</h2>
<div class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean">
    <section class="vehicleInformation">
        <h3>DMC Delorean</h3>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice</li>
        </ul>
        <button id="ownToday">Own Today</button>
    </section>
</div>
<div class="details">
    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>So fast it's almost like traveling in time. (4/5)</li>
            <li>Coolest Ride on the Road. (4/5)</li>
            <li>I'm feeling McFly! (5/5)</li>
            <li>The most futuristic ride of our day. (4.5/5)</li>
            <li>80's livin and I'm lovin it! (5/5)</li>
        </ul>
    </section>
    <section class="upgrades">
        <h2>DMC Delorean Upgrades</h2>
        <a>
            <div class="upgradeImage">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            </div>
            <h3>Flux Capacitor</h3>
        </a>
        <a>
            <div class="upgradeImage">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decal">
            </div>
            <h3>Flame Decals</h3>
        </a>
        <a>
            <div class="upgradeImage">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
            </div>
            <h3>Bumper Sticker</h3>
        </a>
        <a>
            <div class="upgradeImage">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hubcaps">
            </div>
            <h3>Hubcaps</h3>
        </a>
    </section>
</div>