<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    
    <!-- message--> 
    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <!--add Classification Form-->
    <form action="/inv/add-classification" method="post">
        <label>Class Name:</label>
        <input type="text" name="classification_name" pattern="^[a-zA-Z0-9]+$" value="<%= locals.classification_name %>" required>
        <button type="submit" class="formButton">Add Classification</button>
    </form> 