<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    
    <!-- message--> 
    <%- messages() %>
    
    <!--Links-->
    <ul id="managementLinks">
        <li><a href="/inv/add-classification">Add New Classification to Inventory</a></li>
        <li><a href="/inv/delete-classification">Delete Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Item to  Inventory</a></li>
        <h2>Manage Inventory</h2>
        <p>Please select a classification to see the associated items.</p>
        <%- classificationList %>
        <table id="inventoryDisplay"></table>
        <noscript>JavaScript must be enabled to use this page.</noscript>
    </ul>

    <script src="/js/inventory.js"></script>